################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KTSerializer/bin/Debug
/.vs/KTSerializer/v14
/KTSerializer/obj/Debug
/KTSerializer.Tests/bin/Debug
/KTSerializer.Tests/obj/Debug
